.footer{
    width: 100%;
    bottom: 0;
    background-color: #FE9862;
    background-image: linear-gradient(50deg, #FE9862 70%, #F7CE68 100%);
    padding: 16px; 
    box-sizing: border-box;
    color: white;
    margin-top: auto;

}

.footer__content{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.footer__content-logo {
    height: 100px;
}

.footer__links{
    margin: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 24px;
}