.navbar {
    width: 100%;
    background-color: #FE9862;
    background-image: linear-gradient(50deg, #FE9862 50%, #f8c74c 100%);
    position: relative;
    top: 0;
    padding: 6px 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.navbar__container > p {
    color: white;
}

.navbar__logo{
    width: 50px;
}