.dog-details__description {
    /* border: 1px solid lightgrey ; */
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(254, 152, 98, 0.8);
    color: #3D0000;
    box-sizing: border-box;
    grid-area: about;
    padding-bottom: 80px;
}

.dog-details__description > h2 {
    margin: 0;
    color: #3D0000;
}

.dog-details__header-picture {
    height: 225px;
    width: 225px;
    object-fit: cover;
    object-position: center;
    margin: 40px auto;
    border-radius: 25%;
}

.dog-details__header{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(https://www.elisity.com/hubfs/Imported%20images/Blob@2x.png%3Fwidth=1830%26name=Blob@2x.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.dog-details__header > h2 {
    text-align: center;
    font-size: 32px;
    color: #3D0000;
}

.text-box{
    border-radius: 8px;
    margin: 16px auto;
}

.dog-details__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 32px 0;
    background: transparent;
}

.dog-details__info-circle{
    text-align: center;
}

.dog-details__info-circle > .fa-solid{
    font-size: 32px;
    color:rgb(116, 112, 112) ;
    margin-bottom: 8px;
}

.dog-details__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  "about about about user"
                "email email email user";
    gap: 8px;
    margin: 80px 0;

}

.dog-details__email{
    background-color: rgb(250, 244, 244);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    grid-area: email;
    /* border: 1px solid lightgrey ; */
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
}

.dog-details__user{
    background-color: rgb(250, 244, 244);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    grid-area: user;
    /* border: 1px solid lightgrey ; */
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dog-details-main{
    margin-bottom: 150px;
    background-color: transparent;
}

.delete-dog-btn {
    background-color: rgb(148, 7, 7);
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    padding: 8px 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 769px) {
    .dog-details__header {
        background-size:contain;
        background-repeat: no-repeat;
    }
}

